<div>
    <h2 id="page-heading">
        <span>User Extras</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-extra" [routerLink]="['/user-extra/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new User Extra
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="userExtras">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Phone</span></th>
            <th><span>City</span></th>
            <th><span>User</span></th>
            <th><span>Airline Admin</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userExtra of userExtras ;trackBy: trackId">
                <td><a [routerLink]="['/user-extra', userExtra.email, 'view' ]">{{userExtra.email}}</a></td>
                <td>{{userExtra.phone}}</td>
                <td>{{userExtra.city}}</td>
                <td>
                    {{userExtra.user?.id}}
                </td>
                <td>
                    <div *ngIf="userExtra.airlineAdmin">
                        <a [routerLink]="['../airline', userExtra.airlineAdmin?.id, 'view' ]" >{{userExtra.airlineAdmin?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/user-extra', userExtra.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/user-extra', userExtra.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-extra/'+ userExtra.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
