<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-flight-heading">Create or edit a Flight</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!flight.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="flight.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_startLocation">Start Location</label>
                    <input type="text" class="form-control" name="startLocation" id="field_startLocation"
                        [(ngModel)]="flight.startLocation" required maxlength="100"/>
                    <div [hidden]="!(editForm.controls.startLocation?.dirty && editForm.controls.startLocation?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.startLocation?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.startLocation?.errors?.maxlength">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_endLocation">End Location</label>
                    <input type="text" class="form-control" name="endLocation" id="field_endLocation"
                        [(ngModel)]="flight.endLocation" required maxlength="100"/>
                    <div [hidden]="!(editForm.controls.endLocation?.dirty && editForm.controls.endLocation?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.endLocation?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.endLocation?.errors?.maxlength">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_startDate">Start Date</label>
                    <div class="input-group">
                        <input id="field_startDate" type="text" class="form-control" name="startDate" ngbDatepicker  #startDateDp="ngbDatepicker" [(ngModel)]="flight.startDate"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="startDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.startDate?.dirty && editForm.controls.startDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.startDate?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_endDate">End Date</label>
                    <div class="input-group">
                        <input id="field_endDate" type="text" class="form-control" name="endDate" ngbDatepicker  #endDateDp="ngbDatepicker" [(ngModel)]="flight.endDate"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="endDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.endDate?.dirty && editForm.controls.endDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.endDate?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_startTime">Start Time</label>
                    <input type="text" class="form-control" name="startTime" id="field_startTime"
                        [(ngModel)]="flight.startTime" required/>
                    <div [hidden]="!(editForm.controls.startTime?.dirty && editForm.controls.startTime?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.startTime?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_endTime">End Time</label>
                    <input type="text" class="form-control" name="endTime" id="field_endTime"
                        [(ngModel)]="flight.endTime" required/>
                    <div [hidden]="!(editForm.controls.endTime?.dirty && editForm.controls.endTime?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.endTime?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_timeOfFlight">Time Of Flight</label>
                    <input type="text" class="form-control" name="timeOfFlight" id="field_timeOfFlight"
                        [(ngModel)]="flight.timeOfFlight" required/>
                    <div [hidden]="!(editForm.controls.timeOfFlight?.dirty && editForm.controls.timeOfFlight?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.timeOfFlight?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_length">Length</label>
                    <input type="text" class="form-control" name="length" id="field_length"
                        [(ngModel)]="flight.length" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_numberOfChanges">Number Of Changes</label>
                    <input type="number" class="form-control" name="numberOfChanges" id="field_numberOfChanges"
                        [(ngModel)]="flight.numberOfChanges" required/>
                    <div [hidden]="!(editForm.controls.numberOfChanges?.dirty && editForm.controls.numberOfChanges?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.numberOfChanges?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.numberOfChanges?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_locationOfChanges">Location Of Changes</label>
                    <input type="text" class="form-control" name="locationOfChanges" id="field_locationOfChanges"
                        [(ngModel)]="flight.locationOfChanges" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_flightCode">Flight Code</label>
                    <input type="text" class="form-control" name="flightCode" id="field_flightCode"
                        [(ngModel)]="flight.flightCode" required/>
                    <div [hidden]="!(editForm.controls.flightCode?.dirty && editForm.controls.flightCode?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.flightCode?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_allSeats">All Seats</label>
                    <select class="form-control" id="field_allSeats" name="allSeats" [(ngModel)]="flight.allSeats" required>
                        <option *ngIf="!editForm.value.allSeats" [ngValue]="null" selected></option>
                        <option [ngValue]="allSeatsConfigurationOption.id === flight.allSeats?.id ? flight.allSeats : allSeatsConfigurationOption" *ngFor="let allSeatsConfigurationOption of allseats; trackBy: trackAllSeatsConfigurationById">{{allSeatsConfigurationOption.id}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.allSeats?.dirty && editForm.controls.allSeats?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.allSeats?.errors?.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_airport">Airport</label>
                    <select class="form-control" id="field_airport" name="airport" [(ngModel)]="flight.airport"  required>
                        <option *ngIf="!editForm.value.airport" [ngValue]="null" selected></option>
                        <option [ngValue]="airportOption.id === flight.airport?.id ? flight.airport : airportOption" *ngFor="let airportOption of airports; trackBy: trackAirportById">{{airportOption.id}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.airport?.dirty && editForm.controls.airport?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.airport?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
