<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="flightReview">
            <h2><span>Flight Review</span> {{flightReview.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{flightReview.description}}</span>
                </dd>
                <dt><span>Grade</span></dt>
                <dd>
                    <span>{{flightReview.grade}}</span>
                </dd>
                <dt><span>Ticket</span></dt>
                <dd>
                    <div *ngIf="flightReview.ticket">
                        <a [routerLink]="['/ticket', flightReview.ticket?.id, 'view']">{{flightReview.ticket?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/flight-review', flightReview.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
